[submodule "reminders"]
	path = reminders
	url = git@github.com:cardmagic/reminders.git
[submodule "notes"]
	path = notes
	url = git@github.com:cardmagic/notes.git
[submodule "messages"]
	path = messages
	url = git@github.com:cardmagic/messages.git
[submodule "classifier"]
	path = classifier
	url = git@github.com:cardmagic/classifier.git
